@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Roboto:wght@100;300;400&display=swap");

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --greenish-blue: #49c5b6;
  --bluish: #2779a7;
  --blackish: #1a1a1d;
}

html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  height: 180vh;
  box-sizing: border-box;
}

/* nav {
  background-color: var(--blackish);
  position: fixed;
  top: 0.2rem;
  color: var(--greenish-blue);
  font-size: 1rem;
  display: flex;
  width: 100%;
  gap: 1rem;
} */

header {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 2rem;
}

header > img {
  display: flex;
  justify-self: end;
}

header > div {
  max-width: 35rem;
  padding: 1rem;
}

main {
  border: 1px solid rgb(68, 118, 225);
}

.pic-of-me {
  max-width: 6rem;
  min-width: 2rem;
}

.icon {
  max-width: 2rem;
}

footer {
  border: 1px solid rgb(255, 0, 234);
}
